
.banner{
  background: url('https://images.pexels.com/photos/1714208/pexels-photo-1714208.jpeg') center/55% repeat-x black;
}

.post div {
  padding:0px 5px 5px 5px;
}

.post div.text{
  color:#878787;
  font-size: 12px;
}

.post div.heading{
  font-size: 18px;
  font-weight: 600;
}

.post div.detail{
  font-size: 14px;
  word-break: break-word;
  font-family: 'Roboto', sans-serif;
}